@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

@font-face{
    font-family: ProductSans;
    src: url(ProductSans.ttf)
}
* { box-sizing: border-box; margin: 0; padding: 0; }

/* classes */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.rel { position: relative;}
.flex {
    display: flex;
    height: inherit;
}
.just-center {
    justify-content: center;
}
.grid {
    display: grid;
}
.row {
    flex: 1;
}
.center {
    align-items: center;
}
.reverse {
    flex-direction: row-reverse;
}
.just-r {
    justify-content: flex-end;
    text-align: right
}
.curvy-boi {
    background-image: url(border.svg);
    background-size: cover;
    height: 100px;
    transform: translate(0%,-100%);
}
.badge {
    text-align: center;
    padding: 50px;
}
.badge img {
    height: 75px;
}
.badge h3 {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-top: 25px;
}
/* header */
#logo {
    height: 50px;
}
header {
    padding: 10px;
    position: fixed;
    width: 100%;
}
header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing 0.7em;
    padding: 5px 25px;
    font-size: 24px;
    color: #333;
}

/* landing */
#landing-hero {
    min-height: 500px;
    background: #CAEFF7;
}
#first {
    height: auto;
    min-height: 800px;
}
#download img{
    margin: 15px 0px;
    height: 50px;
}

#hero-images img {
    height: auto;
    width: 100%;
    max-width: 400px;
}
#hero-images img#blob {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 15%;
    left: 10%;
}

#about {
    width: 100%;
    max-width: 960px;
    padding: 30px 0px;
    font-family: 'Roboto', sans-serif;
}
#about h1 {
    color: #222;
} 
#about p {
    font-weight: 200;
}

/* SECOND */
#second {
    background: #fff;
}

#second h1 {
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    font-size: 40px;
}

@media only screen and (max-width: 640px){
    .flex {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column;
    }
    #hero-images img {
        height: auto;
        width: 280px;
    }
    #about {
        text-align: center;
    }
    #about h1{
        font-size: 27px;
    }
    #about #download {
        position: relative;
        z-index: 10000;
    }
    #download img{
        height: 75px;
    }
    
    #second h1 {
        text-align: center; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 300; 
        font-size: 28px;
    }
}